{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
    {{ form_widget(form) }}
{{ form_errors(form.nomFor,{'attr':{'class':'text-danger'}}) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
