{% extends 'RRH.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
    <form action="/formation/recherche" method="post"
          class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" name="searche" class="form-control bg-light border-0 small" placeholder="recherche..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="fas fa-fw" type="submit" value="recherche">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>


    <h1>Liste des formations</h1>
    <h5>Le nombre de formation disponibles : {{ formations |length }}</h5>

    <table class="table">
        <thead>
        <tr>
            <th>IdFor</th>
            <th>IdFormateur</th>
            <th>DateFor</th>
            <th>NomFor</th>
            <th>NumbrMaxPer</th>

            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.idFor }}</td>
                <td>{{ formation.idFormateur }}</td>
                <td>{{ formation.dateFor ? formation.dateFor|date('Y-m-d') : '' }}</td>
                <td>{{ formation.nomFor }}</td>
                <td>{{ formation.numbrMaxPer }}</td>
                <td>
                    <a href="{{ path('app_formation_show', {'idFor': formation.idFor}) }}">show</a>
                    <a href="{{ path('app_formation_edit', {'idFor': formation.idFor}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_formation_new') }}">Create new</a>

{% endblock %}