{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{#
{% block header %}
    <header id="header" class="fixed-top " style="background-color: #0a0e14">
        <div class="container d-flex align-items-center justify-content-lg-between">

            <h1 class="logo me-auto me-lg-0"><a href={{ path("app_main_can")}}>WorkVision</a><img  alt="" src="{{ asset("assets/img/WORKVISION .png") }}"></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href={{ path("app_main_can")}}>Home</a></li>
                    <li><a class="nav-link scrollto" href="{{ path('app_user_front_edit', {'iduser': app.user.iduser}) }}">Profil</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            <a href={{ path("app_logout")}} class="get-started-btn scrollto">Logout</a>

        </div>
    </header><!-- End Header -->
{% endblock %} #}

{% block body %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
                <div class="col-xl-6 col-lg-8">
                    <h1>Welcome to WorkVision Website<span>.</span></h1>
                </div>
            </div>

        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="{{ asset('assets/img/about.jpg') }}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                        <h3>Top liked offer</h3>
                        <ul>
                                {% for x in lists %}

                            <li><i class="ri-check-double-line"></i> {{ x.nomoffre}} </li>

                                {% endfor %}
                        </ul>

                    </div>
                </div>

            </div>
        </section><!-- End About Section -->



        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="image col-lg-6" style='background-image: url({{ asset("assets/img/features.jpg") }});' data-aos="fade-right"></div>
                    <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
                        <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-receipt"></i>
                            <h4>Top Service</h4>

                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-cube-alt"></i>
                            <h4>Meilleur Salaire</h4>

                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-images"></i>
                            <h4>Votre comfort est notre principale Objectif</h4>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Features Section -->

        <!-- ======= Services Section ======= -->


        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">

                    <p>Découvrir les offres d'emploi disponiible</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">

                            <li data-filter="*" class="filter-active">All</li>
                            {% for e in list %}
                                {% set a="uploads/"~e.name %}
                                {% set b=e.offreemploi.nomOffre %}
                                {% set c=e.offreemploi.description %}
                                {% set f=e.offreemploi.skills %}
                                {% set x=".filter-"~e.offreemploi.skills %}
                                {% set d="portfolioDetails/"~e.offreemploi.idOffre %}
                                {% set y="col-lg-4 col-md-6 portfolio-item filter-"~e.offreemploi.skills %}
                            <li data-filter={{ x }}>{{ f }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                {% for e in list %}
                {% set a="uploads/"~e.name %}
                {% set b=e.offreemploi.nomOffre %}
                {% set c=e.offreemploi.description %}
                {% set f=e.offreemploi.skills %}
                {% set d="portfolioDetails/"~e.offreemploi.idOffre %}
                {% set y="col-lg-4 col-md-6 portfolio-item filter-"~e.offreemploi.skills %}
                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-{{ f }}">
                        <div class="portfolio-wrap">
                            <img src={{ asset(a)}} class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{{ b }}</h4>
                                <p>{{ c }}</p>
                                <div class="portfolio-links">
                                    <a href="{{ asset(a) }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ b }}"><i class="bx bx-plus"></i></a>
                                    <a href="{{ d   }}" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>

            </div>
        </section><!-- End Portfolio Section -->

        <!-- ======= Counts Section ======= -->


        <!-- ======= Team Section ======= -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Contact Us</p>
                </div>

                <div>
                    <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>A108 Adam Street, New York, NY 535022</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@example.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+1 5589 55488 55s</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
{% endblock %}
