
{% extends 'basee.html.twig' %}
{% block title %}Acceuil{% endblock %}


{% block header %}
    <header id="header" class="fixed-top " style="background-color: #0a0e14">
        <div class="container d-flex align-items-center justify-content-lg-between">

            <h1 class="logo me-auto me-lg-0"><a href={{ path("app_main_emp")}}>WorkVision</a><img  alt="" src="{{ asset("assets/img/WORKVISION .png") }}"></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href={{ path("app_main_emp")}}>Home</a></li>
                    <li><a class="nav-link scrollto" href={{ path("app_emp")}}>DashBoard</a></li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <a href={{ path("app_logout")}} class="get-started-btn scrollto">Logout</a>

        </div>
    </header><!-- End Header -->
{% endblock %}

{% block body %}
    <div class="row special-list">
        <div class="col-lg-3 col-md-6 special-grid best-seller">
            <div class="row">



                <div class="card" style="width: 18rem;height: 100%">
                    {% for e in list %}
                        {% set a="upload/"~e.name %}
                        {% set p=e.formation.numbrMaxPer %}

                        <img src="{{ asset(a)}}" class="cart-thumb" alt="" />
                        <h5><span class="text text-danger">{{ e.formation.nomFor | upper }}</span></h5>
                        <h5><span class="text text-danger">avec nombre maximum de personnes {{ p }}</span></h5>
                        <h6><a href={{ path("app_logout") }}>participer</a></h6>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>





{% endblock %}