{% extends 'base.html.twig' %}





        <h1 class="logo me-auto me-lg-0"><a href={{ path("app_main_emp")}}>WorkVision</a><img  alt="" src="{{ asset("assets/img/WORKVISION .png") }}"></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto active" href="{{ path('app_main_can', {'idcan': app.user.iduser}) }}">Home</a></li>

          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <a href={{ path("app_logout")}} class="get-started-btn scrollto">Logout</a>

      </div>
    </header><!-- End Header -->
  {% endblock %}


  {% block body %}
  <main id="main">
    {% for e in offre %}
    {% set a="uploads/"~e.name%}
    {% set b=e.offreemploi.nomOffre %}
    {% set c=e.offreemploi.description %}
    {% set d="portfolioDetails/"~e.offreemploi.idOffre %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{ b }}</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide">
                  <img src="{{ asset(a) }}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Offer Description</h3>
              <ul>
                <li>{{ c }}</li>
              </ul>
              <a href={{ path("app_candidat_new")}} class="filter-active"><h2>Demand This Offer</h2></a>
              {% for e in offre %}
                  {% if rating.user.iduser == app.user.iduser %}
                <h2>You have rated this offer </h2>
                {% endif %}
              {% if rating.user is null %}
                {% set d="http://127.0.0.1:8000/"~app.user.iduser~"/portfolioDetails/"~e.offreemploi.idOffre~"/like" %}
                {% set f="http://127.0.0.1:8000/{idcan}/portfolioDetails/"~e.offreemploi.idOffre~"/dislike" %}
                <a href={{ absolute_url(d) }}><button type="button" class="btn btn-success">like</button></a>
                <a href={{ absolute_url(f) }}> <button type="button" class="btn btn-danger">dislike</button></a>
                {% endif %}

              {% endfor %}

              

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
    {% endfor %}
  </main><!-- End #main -->


{% endblock %}

