{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
<table class="col-sm-10">
    <tr>
        <td>
            {{ form_label(form.note) }}
        </td>
        <td>

            {{ form_widget(form.note,{'attr':{'class':'form-control'}}) }}
        </td>

    </tr>
    <tr>
        <td>
            {{ form_label(form.avis) }}
        </td>
        <td>
            {{ form_widget(form.avis) }}
        </td>

    </tr>
</table>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
