{% extends 'newnew.html.twig' %}

{% block title %}Evaluation index{% endblock %}

{% block body %}

    <h1>Evaluation index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Name</th>
                <th>Note</th>
                <th>Avis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evaluation in evaluations %}
        {% if evaluation.entretien != null %}
            <tr>
                <td>{{ evaluation.entretien.firstnameCandidat }}</td>
                <td>{{ evaluation.entretien.nameCandidat }}</td>
                <td>{{ evaluation.note }}</td>
                <td>{{ evaluation.avis }}</td>
                <td>
                    <a class="btn btn-info"  role="button" href="{{ path('app_evaluation_show', {'idEvaluation': evaluation.idEvaluation}) }}">Show</a>
                    <a class="btn btn-secondary"  role="button" href="{{ path('app_evaluation_edit', {'idEvaluation': evaluation.idEvaluation}) }}">Edit</a>
                    <a class="btn btn-warning"  role="button" href="{{ path('emailev', {'avis':evaluation.avis,'fname':evaluation.entretien.firstNameCandidat  } ) }}">Send Result</a>

                </td>
        {% endif %}


        {% endfor %}
            </tr>
        </tbody>
    </table>

    <br><br>
    <div>
        <h1>STATISTIQUES</h1>
        <canvas id="categories" width="700" height="100"></canvas>
    </div>



{% endblock %}
