{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
<table>
    <tr>
        <td>
            {{ form_label(form.nomoffre) }}
        </td>
        <td>
            {{ form_widget(form.nomoffre,{'attr':{'class':'form-control'}}) }}
        </td>

    </tr>
    <tr>
        <td>
            {{ form_label(form.description) }}
        </td>
        <td>
            {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
        </td>

    </tr>
    <tr>
        <td>
            {{ form_label(form.skills) }}
        </td>
        <td>
            {{ form_widget(form.skills,{'attr':{'class':'form-control'}}) }}
        </td>

    </tr>
    <tr>
        <td>
            {{ form_label(form.picture) }}
        </td>
        <td>
            {{ form_widget(form.picture,{'attr':{'class':'form-control'}}) }}
        </td>
       
    </tr>
</table>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
