{% extends 'RRH.html.twig' %}

{% block title %}Entretien index{% endblock %}

{% block body %}
    <h1>Entretien List</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Firstname</th>
                <th>Name</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Present Person</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entretien in entretiens  %}
            {% for evaluation in evaluations %}
            <tr>

                <td>{{ entretien.firstnameCandidat }}</td>
                <td>{{ entretien.nameCandidat }}</td>
                <td>{{ entretien.dateEntretien ? entretien.dateEntretien|date('Y-m-d') : '' }}</td>
                <td>{{ entretien.heure }}</td>
                <td>{{ entretien.personPresent }}</td>

                <td>
                    <a href="{{ path('app_entretien_show', {'idEntretien': entretien.idEntretien}) }}">Show</a>
                    <a href="{{ path('app_entretien_edit', {'idEntretien': entretien.idEntretien}) }}">Edit</a>
                    <a href="{{ path('app_evaluation_index', {'idEvaluation': evaluation.idEvaluation}) }}">Evaluate</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_entretien_new') }}">Create new</a>
{% endblock %}
