<!DOCTYPE html>
<html  lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{ asset("assets/img/favicon.png") }}" rel="icon">
    <link href="{{ asset("assets/img/apple-touch-icon.png") }}" rel="apple-touch-icon">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}

        <link href="{{ asset("assets/vendor/aos/aos.css") }}" rel="stylesheet">
        <link href="{{ asset("assets/vendor/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
        <link href="{{ asset("assets/vendor/bootstrap-icons/bootstrap-icons.css") }}" rel="stylesheet">
        <link href="{{ asset("assets/vendor/boxicons/css/boxicons.min.css") }}" rel="stylesheet">
        <link href="{{ asset("assets/vendor/glightbox/css/glightbox.min.css") }}" rel="stylesheet">
        <link href="{{ asset("assets/vendor/remixicon/remixicon.css") }}" rel="stylesheet">
        <link href="{{ asset("assets/vendor/swiper/swiper-bundle.min.css") }}" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
              integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
              crossorigin="anonymous" referrerpolicy="no-referrer">

        <!-- Template Main CSS File -->
        <link href="{{ asset("assets/css/style.css") }}" rel="stylesheet">
        <link href="{{ asset("assets/css/textAnimation.css") }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    {% endblock %}


</head>
<body style="background-color: white;">
<!-- ======= Header ======= -->
{% block header %}




    <header id="header" class="fixed-top " style="background-color: #0a0e14">
        <div class="container d-flex align-items-center justify-content-lg-between">
            {% if app.user %}
                {% if app.user.role is same as 'ROLE_ADMIN' %}
                    <h1 class="logo me-auto me-lg-0"><a href={{ path("app_user_index")}}>WorkVision</a><img  alt="" src="{{ asset("assets/img/WORKVISION .png") }}"></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li><a class="nav-link scrollto" href={{ path("app_user_index")}}>DashBoard</a></li>

                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav><!-- .navbar -->

                    <a href={{ path("app_logout")}} class="get-started-btn scrollto">Logout</a>
                {% elseif app.user.role is same as 'ROLE_EMP' %}
                    <h1 class="logo me-auto me-lg-0"><a href={{ path("app_main_emp")}}>WorkVision</a><img  alt="" src="{{ asset("assets/img/WORKVISION .png") }}"></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li><a class="nav-link scrollto active" href={{ path("app_main_emp")}}>Home</a></li>
                            <li><a class="nav-link scrollto" href={{ path("app_participation_index")}}>Evenements</a></li>
                            <li><a class="nav-link scrollto" href={{ path("app_emp")}}>DashBoard</a></li>

                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav><!-- .navbar -->

                    <a href={{ path("app_logout")}} class="get-started-btn scrollto">Logout</a>

                {% elseif app.user.role is same as 'ROLE_RRH' %}
                    <h1 class="logo me-auto me-lg-0"><a href={{ path("app_main_rrh")}}>WorkVision</a><img  alt="" src="{{ asset("assets/img/WORKVISION .png") }}"></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li><a class="nav-link scrollto active" href={{ path("app_main_rrh")}}>Home</a></li>
                            <li><a class="nav-link scrollto" href={{ path("app_conge_index")}}>DashBoard</a></li>

                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav><!-- .navbar -->

                    <a href={{ path("app_logout")}} class="get-started-btn scrollto">Logout</a>
                {% elseif app.user.role is same as 'ROLE_CANDIDATE' %}
                    <h1 class="logo me-auto me-lg-0"><a href={{ path("app_main_can")}}>WorkVision</a><img  alt="" src="{{ asset("assets/img/WORKVISION .png") }}"></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li><a class="nav-link scrollto active" href={{ path("app_main_can")}}>Home</a></li>
                            <li><a class="nav-link scrollto" href="{{ path('app_user_front_edit', {'iduser': app.user.iduser}) }}">Profil</a></li>
                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav><!-- .navbar -->
                    <a href={{ path("app_logout")}} class="get-started-btn scrollto">Logout</a>
                {% endif %}
            {% else %}
                <h1 class="logo me-auto me-lg-0"><a href={{ path("app_main")}}>WorkVision</a><img  alt="" src="{{ asset("assets/img/WORKVISION .png") }}"></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>

                        <li><a class="nav-link scrollto" href="#footer">Contact</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->
                <a href={{ path("app_registration")}} class="get-started ">Registration</a>
                <a href={{ path("app_login")}} class="get-started-btn scrollto">Login</a>
            {%  endif %}
        </div>
    </header><!-- End Header -->

{% endblock %}
<br>
<br>
<br>
{% block body %}
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">
            <div>
                <video loop autoplay playsinline class="back-video"><source src="{{ asset('assets/img/banner.mp4') }}" type="video/mp4"></video>
            </div>
            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
                <div class="col-xl-6 col-lg-8">
                    <h1>Powerful Digital Solutions With Workvision CO<span>.</span></h1>
                </div>
            </div>
        </div>
        <div id="container">
            <span id="text1"></span>
            <span id="text2"></span>
        </div>

        <svg id="filters">
            <defs>
                <filter id="threshold">
                    <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0
									0 1 0 0 0
									0 0 1 0 0
									0 0 0 255 -140" />
                </filter>
            </defs>
        </svg>
    </section><!-- End Hero -->
{% endblock %}


{{ include('footer.html.twig') }}

{% block javascripts %}
    <!-- Vendor JS Files -->
    <script src="{{ asset("assets/vendor/purecounter/purecounter_vanilla.js") }}"></script>
    <script src="{{ asset("assets/vendor/aos/aos.js") }}"></script>
    <script src="{{ asset("assets/vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/glightbox/js/glightbox.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/isotope-layout/isotope.pkgd.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/swiper/swiper-bundle.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/php-email-form/validate.js") }}"></script>
    {{ encore_entry_script_tags('app') }}
    <!-- Template Main JS File -->
    <script src="{{ asset("assets/js/main.js") }}"></script>
    <script src="{{ asset("assets/js/textAnimation.js") }}"></script>
    <script type="text/javascript" src="{{ asset("https://cdn.jsdelivr.net/npm/toastify-js") }}"></script>

{% endblock %}

</body>
</html>
